*{
    background-color: skyblue;
}
/* .card{
    /* display: flexbox;
    font-size: x-large;
    border-radius: 45%; */
    /* justify-content: flex-end; */
    /* line-height: 12px;
    width: 80px;
    font-size: 40pt;
    font-family: tahoma; */
    /* margin-top: 30px;
    margin-right: 20px; */
    /* position:absolute;
    top: 40px;
    right: 70px; */
/* 
} */ 

button{
    border-radius: 30%;
    border: 2px solid rgb(0, 8, 11);
    font-size: 90%;
    margin-right: 10%;
    cursor: pointer;
}


.card{
    margin-right: 20px;
}

.className{
    display: flex;
    content: normal;
}

#tri{
    text-align: right;
    margin-top: 2%;
}




